{% extends "base.twig" %}


{% block nav %}
{% if not user %}
			<li class="pull-left"><h1>Become a member today!</h1></li>
{% endif %}
{% endblock %}

{% block content %}
	{% if user %}
	{# User is logged in 
	  {% if user_role == "member" %}#} 
	  	 {# User is a member #}
	  	 <div class="content-wrapper">
			 <h1>You're a member!</h1>
			 </div>
	{% else %} 
	      {# User is not a member, show them the application #}
				<div class="content-wrapper">
				{{ displaygform(4) }}
				</div>
  {% endif %}

{% endblock %}