{% extends "base.twig" %}


{% block content %}
<section class="landing">
  <div class="landing__block">
      <img class="landing__logo" src="{{site.theme.link}}/img/logo.png">
      <div class="landing__taglineBlock">
          <h3 class="landing__tagline">{{landing_tagline}}</h3>
          <a class="btn btn-secondary landing__taglineButton" href="./events/">Attend our Launch Event</a>
      </div>
  </div>
  <div class="landing__block landing__video" id="video_background">
  
        <video id="theVideo" autoplay="true" poster="<?php bloginfo('template_url'); ?>/assets/img/poster.jpg" preload="auto" loop><!-- Default video source: -->
       <source src="{{site.theme.link}}/video/offline_homepage.mp4" type="video/mp4">
        <!--<source src="video/puesto/puesto-v1.webm" type="video/webm"><!--<source type="video/ogg" src="video/puesto/puesto-v1.ogg">-->
        </video> <!--
                Buttons or metadata go here
              -->
  </div>
   
</section>
{% endblock %}