.wrapper {
  @include grid-container;
}

.content-wrapper {
  @include prefix(30);
  padding-top: 10rem;

  @media screen and (max-width:1023px) {
    @include prefix(17);
  }
}

.article-h1 {
  //margin-left: 5%;
  padding-right: 5%;
}

.article-body {
  margin-top: 3rem;

  p {
    font-size: 1.25rem;
    color: $black;
    opacity: .51;
    max-width: 650px;
  }
}

