.gform_body, .gform_footer {
  max-width: 900px;
}

#gform_wrapper_1 {
  margin-top: 2.5rem;
}




#gform_1 {
  max-width: 700px;
}

.gform_fields {
  //@include grid-container;
  //@include grid-nested;
  list-style: none;
  //padding-bottom: 3rem;
}



#gform_submit_button_1 {
    //float: right;
    margin-right: 2.5%;
    //margin-left: 5%;
    width: 100%;
  }


.form__50 .ginput_container {
     @include grid-nested;

  .ginput_left, .ginput_right {
    @include span(50);
  }
}

.gfield_error {
  position: relative;
}

.validation_message{
  background: rgba(32, 120, 170,.07);
  border: 1px solid rgba(32, 120, 170,1);

  padding: .5rem 1rem;
  display: inline-block;
  color: rgba(32, 120, 170,1);
    position: absolute;
  z-index: 999999;
  top: 0;
  right: 0;
  display: inline-block;
   -webkit-animation: fadeRight 0.35s ease-out; /* Safari 4+ */
  -moz-animation:    fadeRight 0.35s ease-out; /* Fx 5+ */
  -o-animation:      fadeRight 0.35s ease-out; /* Opera 12+ */
  animation:         fadeRight 0.35s ease-out; /* IE 10+, Fx 29+ */
}

.validation_error {
  display: none;
}
/*good css
---------- */

.gfield {
  margin-bottom: 2rem;
  overflow: auto;
}

.gfield_label{
    //font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    color: $red;
    margin-bottom: 0;
  }

.gfield_checkbox, .gfield_radio {

  list-style: none;

  li {
    //clear: both;
  }

  li label, li input {
    float: left;
  }
}



.gform_hidden {
  margin: 0;
  padding: 0;
}

.gfield-50 {
  float: left;
  width: 50%;
}

.gform_page_footer {
  width: 100%;
  clear: both;
  margin-top: 4rem;
}

.gfield_required {
  display: none; 
}

.ginput_container .large {
  width: 100%;
}

.label-float {
  position: relative;

  .ginput_container span {
    position: relative;
  }

  input[type=text], input[type=tel] {
    width: 75%;
    margin-bottom: 1px;
  }
}

.label-float label {
  @include transition(all, 0.2s, ease-in-out);
  position: absolute;
  top: .75rem;
  left: 2rem;
  //opacity: .5;
  color: $red;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
}

label.curFocus {
  @include transition(all, 0.2s, ease-in-out);
  color: $red !important;
  //opacity: 1;
}


/*
-------------------------------------------------
MEMBERSHIP APPLICATION FORM
------------------------------------------------- */
#gform_wrapper_4 {
  //margin-top: -1rem;
}

#gform_4 .gform_body {
  width: 74%;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

/* field specific UI hacks
------------------------ */
.name_first input, .name_last input {
  width: 100%;
}

.name_first, .name_last {
  float: left;
  width: 50%;
  //@include span(50);
}

label.gfield_label[for=input_1_3_3],label.gfield_label[for=input_1_2] {
  display: none;
}

.name_first {
  padding-right: 2rem;
}

.name-last {
  padding-left: 50px;
}

.gfield-50 .datepicker {
  padding-right: 50px;
}

.datepicker {
  width: 100%;
}

.ginput_left, .ginput_right {
  float: left;
  width: 50%;
}

.ginput_left  {
  padding-right: 2rem;
  input {
    width: 100%;
  }
}

.ginput_right input {
  width: 100%;
}


// ------------------------ 

.gf_page_steps {
  width: 96%;
  max-width: 1240px;
}

.gf_step_number {
  display: none;
}


.gf_step {
  float: left;
  width: 25%;
  color: #ccc;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  //text-align: center;

  i {
    //float: left;
  }
  .gf_step_circle {
    //left: 50%;
  }
}

.gf_step_clear {
   display: inline-block; 
}

.gf_step_clear:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.gf_step_first {
  text-align: left;

  .gf_step_circle {
    left: 0;
  }
}

.gf_step_last {
  //text-align: right;

  .gf_step_label {
    border-bottom: 0;
  }
}

.gf_step_label { // outer wrapper of step label info
  display: block;
  position: relative;
  padding-bottom: .5rem;
  border-bottom: 3px solid $gray;
}

.gf_step_active {
  color: $red;

  .gf_step_name {
     color: $red;
  }
}

.gf_step_name { // step label
  display: block;
  //color: $black;
  margin-top: -0.5rem;
  padding-bottom: .5rem;
  font-family: map-get($bodytype, font-family);
  font-weight: map-get($bodytype, bold);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.gf_step_account {
  margin-left: -23px;
}

.gf_step_relationship {
  margin-left: -70px;
}

.gf_step_basic_info {
  margin-left: -30px;
}

.gf_step_submit {
   margin-left: -15px;
}

.gf_step_icons i {
  font-size: 1.25rem;
}

.gf_step_circle { // circles below the steps
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: $gray;
}

.gf_step_completed .gf_step_label {
  border-bottom: 3px solid $red; // Bottom border of steps
}

.gf_step_completed .gf_step_circle, .gf_step_active .gf_step_circle {
  background: $red; // red circles below the steps
}

.gf_step_completed {
  //color: $red; // Color of completed steps
}

.gf_step_completed_indicator {
  opacity: 0;
  display: none;
  color: #68CF87;
  margin-left: 4px;
}

.gf_step_completed .gf_step_completed_indicator {
  display: inline;
    opacity: 1; // Green check mark
}

/* Page 2 - Dating Preferences
------------------------------------------------- */
#gform_page_4_2 {

  .gfield {
    width: 50%;
    float: left;
  }

  .gfield_label {
    //font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .75rem;
    color: $red;
    margin-bottom: 0;
  }

  #field_4_20 {
    width: 100%;
    margin-top: 15px;
  }

}


.gfield_checkbox li {
  margin-right: 3rem;
}


.form__optionalLabel {
  color: $red-gray;
}

/* Page 4 - Submit 
------------------------------------------------- */
.radio-button .ginput_price {
    display: none;
  }

 #field_4_31 label {
  display: none;
 } 

.gform_wrapper input#gf_coupon_button.button {
  height: 5.1rem;
  margin-top: 0;
  margin-left: 0 !important;
  position: relative;
  top: -11px;
 }

 #input_4_22_1 {
  width: 100%;
 }

 #input_4_22_5 {
  width: 100%;
 }

 #input_4_22_1_label, #input_4_22_5_label {
  @include transition(all, 0.2s, ease-in-out);
  position: relative;
  top: 3rem;
  left: 1rem;
  //opacity: .5;
  color: $red;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;

 }

.ginput_cardinfo_left {
  float: left;
  width: 30%;
  background-color: #F7F7F7;
  margin-top: 20px;
 }

 .ginput_cardinfo_right {
  padding-left: 4rem;
  width: 60%;
  float: left;
  text-align: right;
 }

 .ginput_cardinfo_right:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

 label[for=input_4_22_2_month] {
  color: $red;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  position: relative;
  top: 10px;
  left: 14px;
 }

 .ginput_card_expiration {
  width: 45%;
 }


.gcolumn-50 {
  width: 50%;
  float: left;
}

#gform_fields_4_3, #gform_fields_4_3_column-2 {
  width: 100%;
  overflow: auto;
  .gfield {
    width: 50%;
    float: left;
  }
}

/* Pretty Radio Options
------------------------------------------------- */
.field__radio {
  position: relative;
  cursor: pointer;

  li {
    display: block;
    width: 100%;
    clear: both;
    margin-bottom: 3px;
    overflow: auto;
  }

  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label {
    position: relative;
    padding-left: 40px;
    padding-top: 3px; 
    cursor: pointer;
    color: $dark-gray;
    transition: all .2s;
    &:hover {
      color: $black;
      transition: all .2s;
    }
  }

  [type="radio"]:not(:checked),
  [type="radio"]:checked {
    position: absolute;
    left: -9999px;
  }

  /* checkbox aspect */
  [type="radio"]:not(:checked) + label:before,
  [type="radio"]:checked + label:before,
   {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 31px; height: 31px;
    background: #f7f7f7;
    border-radius: 50%;
    color: rgba($white,.7);
    font-size: 11px;
    padding-left: 10px;
    padding-top: 3px;
    transform: scale(.80);
     transition: all .2s;
  }

  [type="radio"]:checked + label:before {
    content:'\002713';
    //color: $white;
    font-family: "SSStandard" !important;
    background: $red;
    opacity: 1;
    transition: all .2s;
    transform: scale(1);
  }
}

#choice_4_41_4:not(:checked) + #input_4_41_other,
#choice_4_41_4:checked + #input_4_41_other
{
    //margin-left: 40px;
    padding: 2rem;
}

#choice_4_41_4:checked + #input_4_41_other
{
  border-color: $red;
}

/* Pretty Checkbox Options
------------------------------------------------- */
.field__checkbox {
  position: relative;
  cursor: pointer;

  li {
    display: block;
    width: 100%;
    clear: both;
    margin-bottom: 3px;
    overflow: auto;
  }

  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 40px;
    padding-top: 3px; 
    cursor: pointer;
    color: $dark-gray;
  }

  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 31px; height: 31px;
    background: #f7f7f7;
    border-radius: 50%;
    color: rgba($white,.7);
    font-size: 11px;
    padding-left: 10px;
    padding-top: 3px;
    transform: scale(.80);
     transition: all .2s;
  }

  [type="checkbox"]:checked + label:before {
    content:'\002713';
    //color: $white;
    font-family: "SSStandard" !important;
    background: $red;
    opacity: 1;
    transition: all .2s;
    transform: scale(1);
  }

}

/* Pretty Toggle
------------------------------------------------- */
.field__toggle {
  li {
    display: inline-block;
    width: 75px;
    padding: 2px;
    border: 3px solid #f7f7f7;
    border-radius: 20px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
  }
  li input[type="checkbox"] {
    display: none;
  }
  li input[type="checkbox"]:checked + label {
    margin-left: 0;
    background: $red;
  }
  li label {
    width: 23px;
    height: 23px;
    background: $red-gray;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: 37px;
    margin-top: 4px;
    transition: all 0.3s ease;
  }
  li label::before {
    content: "No";
    color: $dark-gray;
    top: 3px;
    left: -30px;
  }
  li label::after {
    content: "Yes";
    color: $dark-gray;
    right: -30px;
  }
  li label::before,
  li label::after {
    position: absolute;
    display: inline-block;
    width: 28px;
    text-align: center;
    line-height: 18px;
  }
}
