 /* =================================================================
                             HOMEPAGE
==================================================================== */

/* 
  Landing Area
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
 .landing {
  width:100%;
  height:100%;
  position: absolute;
  z-index: 100;
}

.landing__block {
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  @media screen and (max-width:1023px) {
    width: 100%;
  }
}

.landing__photo {
  background-image: url('../img/homepage_placeholder.jpg');
  background-size: 105%,50%;
}

.landing__logo {
  width: 53%;
  max-width: 384px;
  margin-top: 6rem;
}

.landing__taglineBlock {
  margin-top: 4rem;

}

.landing__tagline {
  font-weight: 300;
  font-size: 1.75rem;
  text-align: left;
  margin-bottom: 4rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 65%;
}

.landing__taglineButton {
  //border-color: $black !important;
}
/* 

  Nav Off Canvas
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.home {
  
  .nav-main {

    position: fixed;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding-left: 40px;
    padding-right: 40px;

  }

  .logo {
    display: none;
  }

  .nav-item a {
     color: #ccc;
     font-size: 12px;
     opacity: 0;
  }


  .nav .btn-secondary {
    
    @media screen and (min-width: 1024px) {
      border-color: $white;
    }

    &:hover {
      border-color: $red;
    }
  }


}